/*estilização do BODY da página*/
body {
    margin: 0%;
    border: 0%;
    font-family: Arial, Helvetica, sans-serif;
}


/*estilização do HEADER da página*/
header {
    background-color: rgb(255,31,128);
    background: linear-gradient(180deg, rgba(255,31,128,1) 0%, rgba(255,202,232,1) 10%, rgba(209,30,107,1) 100%);
    padding: 20px 0 20px 70px;
}


/*o ponto (.) é usado para criar uma classe nova que não existe // Estilização do logo*/
.logo {
    width: 10%;
    box-shadow: 10px 10px 10px 10px rgb(85, 14, 20);
    border-radius: 50px;
}


/*Banner do site*/
.banner {
    width: 100%;
    object-fit: cover;
    object-position: top;
}


/*Estilização de Menu da página*/
nav {
    color: white;
    font-size: 25;
    right: 50px;
    top: 18px;
    position: absolute;
}


nav li {
    display: inline;
    margin-right: 45px;
}


/*Estilazação da DIV HEADER*/
.divHeader {
    position: relative;
}

/*Estilização da sessão SOBRE NÓS*/
.sobre_nos {
    margin: 0;
    text-align: justify;
    width: 60%;
    margin-left: 20%;
}
.img_sobrenos {
    width: 30%;
    float: left;
    margin-right: 30px;
}
.titulo_sobrenos {
    text-align: center;
    clear: left;
}